body, th{    
	padding-top: 50px;
    text-align:center;
}

.btn-link
{
	margin-top: 7px;
}

.btn:focus,.btn:active {
    outline: none !important;
}

.jumbotron{
	margin-top: 50px;
	background: transparent;
	margin-bottom: 0px;
}

.panel-default{
	border: none;
}

.table-responsive
{
	
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 20px;
}

h2{
	text-align: center;
	padding-bottom: 20px;
}

.modal-list-item{
	text-align: left;
	list-style-type: none;
}

.btn-link:hover, .btn-link:focus {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
	.formBtn{
		margin-top:10px;
		margin-bottom:10px;
	}
}